// Base settings for all themes that can optionally be
// overridden by the super-theme

// Primary/body text
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Patua One', serif;
$codeFont: Menlo, monospace;
$mainFontSize: 3.5rem;
$darkColor: #333;
$transparentBlack: rgba(0, 0, 0, 0.85);
$white: #fff;
$mainColor: $white;
$headingColor: $mainColor;
$secondaryColor: #999;
$tertiaryColor: rgb(236, 255, 5);
$mutedColor: #999;
$alertColor: #ff0000;

// Background of the presentation
$backgroundColor: $darkColor;
$backgroundImage: ""; //url("backgrounds/space.jpg")

// Headings
$headingMargin: 0 0 20px 0;
$headingFont: $secondaryFont;
$headingFontWeight: 700;
$headingLineHeight: 1em;
$headingLetterSpacing: 0.02em;
$headingTextTransform: none;
$headingTextShadow: none; //2px 2px 6px #000;
$paragraphTextShadow: none; //1px 3px 3px #000;
$paragraphFontSize: 2em;
$paragraphLineHeight: 1.25em;

// Links and actions
$linkColor: $tertiaryColor;
$linkColorHover: $mainColor;
$altLinkColor: #55491F;
$buttonColor: #4285f4;
$buttonTextColor: $mainColor;

$separatorColor: $mainColor;
$separatorHeight: 3px;

// Text selection
$selectionBackgroundColor: #97948f;
$selectionColor: $mainColor;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}

// breakpoints
$mobile: "(max-width: 600px)";
